<VirtualHost *:{{ virtualhost.listen_port }}>
    ServerName {{ ansible_default_ipv4.address }}
    ServerAlias {{ virtualhost.server_name }}
    DocumentRoot {{ virtualhost.document_root }}
    ServerAdmin {{ virtualhost.server_admin }}
    <Directory "{{ virtualhost.document_root }}">
        AllowOverride All
        Options -Indexes +FollowSymLinks
        Require all granted
    </Directory>
    SetEnvIf Request_URI "^/health$" dontlog
    SetEnvIf User-Agent ".*internal dummy connection.*" dontlog
    SetEnvIf REMOTE_ADDR "(.+)" CLIENTIP=$1
    SetEnvIf X-Forwarded-For "^([0-9.]+)" CLIENTIP=$1
    LogFormat "%{CLIENTIP}e %D %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\"" trueip_combined
    ErrorLog ${APACHE_LOG_DIR}/roundpal_error.log
    CustomLog ${APACHE_LOG_DIR}/roundpal_access.log trueip_combined env=!dontlog
    RewriteEngine on
    RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [L,QSA,R=permanent]
</VirtualHost>
