parameters:
    database_driver:   pdo_mysql
    database_host:     {{ mysql.host }}
    database_port:     {{ mysql.port }}
    database_name:     {{ mysql.database }}
    database_user:     {{ mysql.user }}
    database_password: {{ mysql.password }}

    mailer_transport:  {{ mailer.transport }}
    mailer_host:       {{ mailer.host }}
    mailer_user:       {{ mailer.user }}
    mailer_password:   {{ mailer.password }}
    mailer_port:       {{ mailer.port }}

    secret:            n23i4ubcuicvun3489734bnciuer923h2ih4r

